.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 6rem;
  max-width: 10rem;
}
.card-img {
  height: 5rem;
  background-color: aquamarine;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img i {
  font-size: 2rem;
  color: rgb(184, 5, 255);
}
/* .card-text {
} */
